/*Colours*/
$brisas-green: #068c8f;
/*Variables*/
$button-radius:10px;

/* Fonts */
$MuseoSans-100:'MuseoSans-100', Arial;
$MuseoSans-300:'MuseoSans-300', Arial;
$MuseoSans-500:'MuseoSans-500', Arial;
$roboto:'RobotoRegular', Arial;
$roboto-light:'RobotoLight', Arial;
