@import 'mixins/main';
@import 'modules/main';
@import 'bootstrap-custom';

html{
	position: relative;
	min-height: 100%;
	body{
		select, option{
			cursor:pointer;
		}
		font-family:$roboto;
		.header-wrapper{
			height:480px;
			@include phone {
				height:100vh;
			}
			@include tablet {
				height:100vh;
			}
		}
		.header, .body {
			&-wrapper{
				position:relative;
			}
		}
		.form-control, .btn{
			border-radius: 0;
			&:focus, &:active:focus, &:active{
				outline:none;
				border-color:transparent;
				box-shadow:none;
			}
		}
	}
}
